<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous" th:src="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="learning.spring.recipe.dto.RecipeDTO"*/-->
<!--/*@thymesVar id="ingredientDesc" type="learning.spring.recipe.dto.IngredientDescriptionDTO"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${recipe}" th:action="@{/recipe/}" enctype="multipart/form-data" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{note.id}"/>
                <input type="hidden" th:field="*{image}">
                <div class="panel-group">
                    <div class="card card-primary border border-primary" style="margin: 20px 0">

                        <div class="card-header bg-primary text-light">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <h7 class="card-title">Edit Recipe Information</h7>
                                </div>

                                <div class="col-auto">
                                    <label class="control-label">Select File</label>
                                    <input id="imagefile" name="imagefile" type="file" class="file">
                                    <button type="submit" class="btn btn-light btn-sm" name="addImage">Upload Image
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-1">

                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-auto form-group">
                                            <label>Recipe Description:</label>
                                            <input type="text" class="form-control" th:field="*{description}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-auto form-group">
                                            <label>Categories:</label>
                                        </div>
                                        <div class="col-md-9 form-group">
                                            <div class="radio">
                                                <label>
                                                    <input type="checkbox" value=""/>
                                                    Cat 1
                                                </label>
                                            </div>
                                            <div class="radio" th:remove="all">
                                                <label>
                                                    <input type="checkbox" value=""/>
                                                    Cat 2
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-auto form-group">
                                            <label>Prep Time:</label>
                                            <input type="text" class="form-control" th:field="*{prepTime}"/>
                                        </div>
                                        <div class="col-md-auto form-group">
                                            <label>Cooktime:</label>
                                            <input type="text" class="form-control" th:field="*{cookTime}"/>
                                        </div>
                                        <div class="col-md-auto form-group">
                                            <label>Difficulty:</label>
                                            <select class="form-control" th:field="*{difficulty}">
                                                <option th:each="difficultyValue : ${T(learning.spring.recipe.model.Difficulty).values()}"
                                                        th:value="${difficultyValue}"
                                                        th:text="${difficultyValue.getDisplayValue()}"
                                                >Easy
                                                </option>
                                            </select>

                                            <select class="form-control" th:remove="all">
                                                <option>Easy</option>
                                                <option>Medium</option>
                                                <option>Hard</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-auto form-group">
                                            <label>Servings:</label>
                                            <input type="text" class="form-control" th:field="*{servings}"/>
                                        </div>
                                        <div class="col-md-auto form-group">
                                            <label>Source:</label>
                                            <input type="text" class="form-control" th:field="*{source}"/>
                                        </div>
                                        <div class="col-md-auto form-group">
                                            <label>URL:</label>
                                            <input type="text" class="form-control" th:field="*{url}"/>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${recipe.id!=null}" class="col-md-3">
                                    <img class="img-fluid rounded" id="image"
                                         src="../../static/images/guacamole.webp"
                                         th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary border border-primary" style="margin: 20px 0">
                        <div class="card-header bg-primary text-light">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <h7 class="card-title">Ingredients</h7>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-light btn-sm" type="submit" name="addIngredient">Create
                                    </button>
                                </div>

                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>UOM</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody th:if="*{ingredients}">
                            <tr th:each="ingredientDesc, stat : *{ingredients}">
                                <td th:text="${stat.count}">1</td>
                                <input type="hidden" class="form-control"
                                       th:field="*{ingredients[__${stat.index}__].id}"/>
                                <input type="hidden" class="form-control"
                                       th:field="*{ingredients[__${stat.index}__].recipeId}"/>
                                <input type="hidden" class="form-control"
                                       th:field="*{ingredients[__${stat.index}__].ingredient.id}"/>
                                <th>
                                    <input type="text" class="form-control"
                                           th:field="*{ingredients[__${stat.index}__].ingredient.description}"
                                    />
                                <th>
                                    <input type="number" step="0.25" min="0" class="form-control"
                                           th:field="*{ingredients[__${stat.index}__].amount}"/>
                                </th>

                                <th>
                                    <select class="form-control" th:field="*{ingredients[__${stat.index}__].uom.id}">
                                        <option th:each="uom : ${uomList}"
                                                th:value="${uom.id}"
                                                th:selected="${uom.id.equals(ingredientDesc.uom.id)}"
                                                th:text="${uom.description}">Each
                                        </option>
                                    </select>
                                </th>
                                <th>
                                    <button class="btn btn-light btn" type="submit" name="deleteIngredient"
                                            th:value="${stat.index}">X
                                    </button>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card card-primary border border-primary" style="margin: 20px 0">
                        <div class="card-header bg-primary text-light">
                            <h7 class="card-title">Directions</h7>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary border border-primary" style="margin: 20px 0">
                        <div class="card-header bg-primary text-light">
                            <h7 class="card-title">Notes</h7>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{note.notes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<style>
    h7 {
        font-weight: bold;

    }

    .btn-light:hover {
        background-color: white;
        color: black; /* Optionally change text color */
    }

    .btn-light {
        background-color: white;
    }

    img {
        width: auto;
        height: 200px;
    }
</style>
</html>